@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --baseBack:rgb(31, 31, 31);
}
.social , button{
    transition: 300ms;
    cursor: pointer;
}
.social:hover, button:Hover{
    transform: translateY(-3px);
    scale: 1.05;
}
.sec{
    display: flex;
    flex-direction: column;
    gap:30px;
}
body{
    background-color: rgb(22, 22, 22);
    margin: 20px 100px 20px 100px;
    font-family: 'poppins';
    color: #ffffff;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p,h1,h2,h3,h4{
    margin: 0;
}
a{
    color: #80f2ff;
}
header,footer,.baseSts{
    border-radius: 5px;
    background-color: var(--baseBack);
}
header{
    background-color: var(--baseBack);
    padding: 3px 30px 3px 30px;
}
header .content .topList{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
    
}
header .content .logo2{
    width: 90px;
    aspect-ratio: 1.7;
}
header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subtitle{
    color: white;

}
.fic img{
    aspect-ratio: 1;
    width: 250px;
}
.fic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ficT{
    display: flex;
    flex-direction: column;
    
    align-items: left;
    justify-content: center;
    gap: 10px;
}
.ficT h3{
 font-size: 22px;   
}

.ficT h4{
    font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(to right, #7ff3ff, #3388b9);
  -webkit-background-clip: text; 
  color: transparent; 
}
.fic button{
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 10px;
    color:var(--baseBack);
    font-size: 25px;
    outline: none;
    background: linear-gradient(to right, #41d0e0, #3388b9);
    border: 0px;
    border-radius: 10px;

}
.fic button:hover{
    background: linear-gradient(to right, #00cae0, #28719b);
}
.social{
    width: 30px;
    aspect-ratio: 1;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
    cursor: pointer;
}
.socialHolder{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;

}
.ficT .as{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.sobreMim {
    padding: 25px;
}
.sobreMim .texto h1{
    font-size: 30px;
}

.sobreMim .texto{
    border-left: 2px white solid;
    padding: 10px;
}
.sobreMim .texto p{
    font-size: 17px;
}