@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

underLineEff{
    text-decoration: underline;
    cursor: pointer;
}
:root{
    --baseBack:rgb(31, 31, 31);
    --underBack: rgb(22,22,22);
    --baseLight:1;
    --textColor:white;
    --highlightColor:#80f2ff;
    --subtitleColor:white;
    --scrollBarColor:rgb(92, 92, 92);
    --secondTextColor:rgb(172, 172, 172);
}

html{
    scroll-behavior: smooth;
}

.beta{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    color: var(--textColor);
}
@keyframes vaiEvolta{
    0%{
        transform: translateX(calc(100%*9));
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(100%*9));
    }
}

.baseSts.beta h1{
    font-weight: 600;
}
.beta h1{
    
    position: relative;
    background-image: linear-gradient(to right, #20b3c4, #3388b9);
    -webkit-background-clip: text; 
    color: transparent; 
  
}
.beta h1::after{
    background: linear-gradient(to right, #20b3c4, #3388b9);
    content: '';
    height: 6px;
    position: absolute;
    bottom: -5px;
    animation: vaiEvolta 5s ease-in-out 0s infinite;
    left: 0;
    width:10%;
    border-radius: 2px;
   
}

html.lightMode{
    --baseBack:rgb(255, 255, 255);
    --underBack: rgb(129, 194, 255);
    --baseLight:0;
    --textColor:rgb(0, 0, 0);
    --highlightColor:#0032bd;
    --subtitleColor:rgb(255, 255, 255);
    --scrollBarColor:rgb(136, 136, 136);
    --secondTextColor:rgb(77, 77, 77);
}
.social , button{
    transition: 300ms;
    cursor: pointer;
}
.social:hover, button:Hover{
    transform: translateY(-3px);
    scale: 1.05;
}
.sec{
    display: flex;
    flex-direction: column;
    gap:30px;
}
body{
    background-color: var(--underBack);
    margin: 20px 100px 20px 100px;
    font-family: 'poppins';
    color: var(--textColor);
    transition: 300ms;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p,h1,h2,h3,h4{
    margin: 0;
}
a{
    color: var(--highlightColor);
}
header,footer,.baseSts{
    border-radius: 5px;
    background-color: var(--baseBack);
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--baseBack);
    padding: 3px 30px 3px 30px;
    margin-bottom: 15px;
}
header .content .topList{
    color: var(--textColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 20px;
    
}
header .content .logo2{
    width: 100px;
    aspect-ratio: 1.7;
}
header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subtitle{
    color: var(--subtitleColor);

}

.fic img{
    aspect-ratio: 1;
    width: 250px;
    
}
.fic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ficT{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.ficT h3{
 font-size: 22px;   
}

.topList p::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: linear-gradient(to right, #20b3c4, #3388b9);
    opacity: 0;
    transition:ease-in-out 300ms;
}
.topList p:hover::after{
    opacity: 1;
    width: 100%;
}
.topList p:hover{
    background-image: linear-gradient(to right, #20b3c4, #3388b9);;
    -webkit-background-clip: text; 
    color: transparent; 
}
.topList p{
    position: relative;
}

.ficT h4{
    font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(to right, #20b3c4, #3388b9);
  -webkit-background-clip: text; 
  color: transparent; 
}
.fic button{
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 10px;
    color:var(--baseBack);
    font-size: 25px;
    outline: none;
    background: linear-gradient(to right, #20b3c4, #3388b9);
    border: 0px;
    border-radius: 10px;

}

.timeline p{
    color:var(--secondTextColor);
    text-decoration:none;
}
.timeElement p{
    color: var(--textColor);
    text-decoration: none;
}
.fic button:hover{
    background: linear-gradient(to right, #009eaf, #28719b);
}
.social{
    width: 30px;
    aspect-ratio: 1;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
    cursor: pointer;
    
}
.socialHolder{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;

}
.ficT .as{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.sobreMim {
    padding: 25px;
}
.sobreMim .texto h1{
    font-size: 30px;
    font-weight: 500;
}
.baseSts h1{
    font-size: 30px;
    font-weight: 500;
}

.sobreMim .texto{
    border-left: 2px var(--textColor) solid;
    padding: 10px;
}
.sobreMim .texto p{
    font-size: 17px;
    margin-left: 20px;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background: var(--scrollBarColor);
    transition: 300ms;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(61, 61, 61);
}
::-webkit-scrollbar-thumb:active{
    background: rgb(48, 48, 48);
}

.topList p {
    cursor: pointer;
}

.timeline{
    padding: 20px;

}
.topList .themeButton{
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1;
    filter: brightness(var(--baseLight));
}
.tbh{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    overflow: hidden;
    
}
 
.tbh #themeDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -0px;
    transition: 300ms;
}

#goToButton{
    width: 50px;
    aspect-ratio: 1;
    position: fixed;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 300ms;
    filter: brightness(var(--baseLight));
    cursor: pointer;
}

#goToZone{
    width: 100vw;
    height: 7vw;
    min-height: 70px;
    position: fixed;

    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    pointer-events:all;
    background: linear-gradient(to top, rgb(58, 58, 58),rgba(0, 0, 0, 0));
    opacity: 0.001;
    transition:300ms;
    z-index: 100;
}

#goToZone:Hover{
    opacity: 1;
}
#goToZone:hover img{
    opacity: 0.7;
}

#timeline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    position: relative;
    margin-top: 20px;
}

#timeline::after{
    content: "";
    width: 750px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 164, 214);
    top: 40px;
    z-index: 0;
    left: 50%;
    max-width: 80%;
    transform: translateX(-50%);
}
#timeline .timeElement{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: relative;
    width: 200px;
}
#timeline .timeElement label::after{
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    border-radius: 50%;
    border: 3px rgba(255, 255, 255, 0.671) solid;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#timeline .timeElement:hover label::after{
    border-color: white;
}

#timeline .timeElement label{
    width: 80px;
    position: relative;
    height: 80px;
    text-align: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    background-color: rgb(0, 164, 214);
    border-radius: 50%;
    font-size: auto;
    z-index: 1;
    color: white;
    font-weight: 600;
}
.timeElement label:hover ~ .hiddenData{
    visibility: visible;
    opacity: 1;
}

.subData{
    display: flex;
    flex-direction: row;
    gap: 5px;
justify-content: left;
    align-items: center;
}
.subData img{
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    filter: brightness(var(--baseLight));
}
.hiddenData:hover{
    opacity: 1;
    visibility: visible;
}
.hiddenData{
    visibility: visible;
    opacity: 0;
    transition: 300ms;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    top: -40px;
    background-color: var(--baseBack);
    width: max-content;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(61, 61, 61, 0.301);
    justify-content: center;
    align-items: left;
    
    gap: 10px;
    padding: 5px;
}

footer{
    margin-bottom: 70px;
}

.skills{
    padding: 10px;
    gap: 4px;
}
.skills h1{
    text-align: center;
}
.langs{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
}
.langs .cont{
    position: relative;
    width: 60px;
    height: 60px;
}
.langs img:hover + .hiddenData{
    opacity: 1;
    visibility: visible;
}
.langs .hiddenData{
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.langs img{width: 60px;height: 60px;}
.do{
    padding: 20px;
}
.do ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.do ul li{
    font-size: 18px;
    font-weight: 400;

}
.do .hiddenFaq{
    position: relative;
    display: inline-block;
}

.do .hiddenFaq img{
    width: 16px;
    height:16px;
    vertical-align: middle;
    
  
}

.hiddenFaq img{
    filter: brightness(var(--baseLight));
    cursor: pointer;
}

.hiddenFaq div p{
    font-size: 16px;
    font-weight: 300;
}
.hiddenFaq div{
    visibility: hidden;
    position: absolute;
    background-color: var(--baseBack);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgba(61, 61, 61, 0.301);
    max-width:250px;
    min-width: 170px;
    max-height: 600px;
    padding: 4px;
    left: 20px;
    top: 0px;
    opacity: 0;
    transition: 300ms;
}
.hiddenFaq img:hover + div,
.hiddenFaq div:hover{
    visibility: visible;
    opacity: 1;
}
underLineEff:hover + .hiddenFaq div{
    visibility: visible;
    opacity: 1;
} 

@media(max-width: 768px){
    html,body{
        margin: 20px 10px 20px 10px;
        max-width: 100vw;
        overflow-x: hidden;
    }
    .sobreMim .texto p{
        font-size: 16px;
    }
    .fic{
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
    }
    #timeline{
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }
    .timeElement{
        position: relative;
    }
    .hiddenData{

    }
    #timeline::after{
        visibility: hidden;
    }
    .baseSts h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .content{
      
    }
    .topList p{
        font-size: 0;
        width: 0;
        visibility: hidden;
    }
    .topList{
        flex-direction: row;
    }
    #goToZone{
        visibility: hidden;
    }
    .topList{
        flex-direction: column;
    }
}